.search-container {
  width: 450px;
  margin: 25px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 9px rgba(0,0,0,0.1);
  text-align: center;
}

.search-container h2 {
  color: var(--c2);
  margin-bottom: 15px;
}

.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-box input {
  padding: 10px;
  border: 1px solid var(--c3);
  border-radius: 5px;
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}