@import "../../styles/global.css";

.sales-form-container {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sales-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.sales-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.sales-form button {
  margin-top: 15px;
  width: 100%;
}

.sales-message {
  margin-top: 10px;
  font-weight: bold;
  color: var(--c2);
  text-align: center;
}
