:root {
  --c1: #3ca890; 
  --c2: #4f54c8; 
  --c3: #4a99c1;
  --c4: #3f7acb; 
  --c5: #3fc1c7;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
  background-color: var(--c5);
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
}

th {
  background-color: var(--c2);
  color: white;
}

td, th {
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  background-color: var(--c4);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: var(--c2);
}
