button {
  background-color: var(--c4); 
  color: white;
  border: none;
  margin-left: 25px;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--c2); 
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 84, 200, 0.5); 
}
